.share-page
    height 100%
    background url("~@/image/page-bg@3x.png") repeat center center / auto 100%
    background-color: #f5bdc2
    position relative
    display flex
    flex-flow column nowrap
    justify-content: space-around
    align-items: center

    .share-frame
        width: 9.68rem
        height 13.65rem
        background url("~@/image/clothes-frame-share@3x.png") no-repeat center center / auto 100%
        position relative

        .logo
            height 1.773rem
            width: 1.773rem
            background url("~@/image/logo@3x.png") no-repeat center center / cover
            position absolute
            left 0.23rem
            top 0.0533rem

        .frame-container
            position relative
            width 9.08rem
            height 9.2933rem
            position relative

        .card
            position absolute
            left 0
            top 0
            width 9.08rem
            height 9.2933rem
        
        .type-label
            position absolute
            font-size: (26/75)rem
            left: (62/64)rem
            top: (611/64)rem
            width: (144/64)rem
            height: (44/64)rem
            line-height: (44/64)rem
            text-align: center
            font-weight: 500
        .type-desc
            position absolute
            font-size: (26/75)rem
            left: (48/75)rem
            top: (792/75)rem
            width: (626/75)rem
            height: (44/64)rem
            line-height: (44/64)rem
            text-align: center
            font-weight: 500
    .button-line
        display flex
        height (180/75)rem
        flex-flow: row nowrap
        justify-content: space-between
        align-items: center
        
        
        .save
            margin-left (155/75)rem
            height (164/75)rem
            width (156/75)rem
            background url("~@/image/save.png") no-repeat center center / auto 100%

        .prev
            height (138/75)rem
            width (155/75)rem
            background url("~@/image/prev.png") no-repeat center center / auto 100%
            

            