.share-page
    height 100%
    background url("~@/image/page-bg@3x.png") repeat center center / auto 100%
    background-color: #f5bdc2
    position relative
    display flex
    flex-flow row nowrap
    justify-content: center
    padding-top 0.32rem

    .share-frame
        width: 9.68rem
        height 13.65rem
        background url("~@/image/clothes-frame-share@3x.png") no-repeat center center / auto 100%
        position relative

        .logo
            height 1.773rem
            width: 1.773rem
            background url("~@/image/logo@3x.png") no-repeat center center / cover
            position absolute
            left 0.23rem
            top 0.0533rem
            